.features {
  &__header {
    margin-top: 8rem;
    &-underline {
      margin-bottom: 6rem;
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7rem;
    &-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      border: 1px solid rgba(0, 0, 0, 0.3);
      padding: 0 2rem;
      padding-top: 3rem;
      padding-bottom: 5rem;
      font-family: var(--f-poppins);
      &-title {
        font-size: var(--fs-features);
        margin-top: 1rem;
      }
      &-description {
        max-width: 20rem;
        color: var(--clr-grey);
        font-size: 1.2rem;
        margin-top: 2rem;
      }
    }
  }
}
