.header {
  // BACKGROUND IMAGE
  position: relative;
  height: 75vh;
  background-image: url(./public/imgs/hero_BG_Image-mobile-2x.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    z-index: -1;
    background-color: rgba(51, 51, 51, 0.8);
  }
  // NAVIATION STYLES
  &__navigation {
    .hamburger-menu {
      width: 2.4rem;
      height: 2.4rem;
    }
    &-list {
      padding: 2rem 0rem;
      margin: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style-type: none;
    }
  }
  .logo-bg {
    border-radius: 50%;
    position: relative;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      height: 2.5rem;
      width: 2.5rem;
      object-fit: cover;
      margin: 1rem;
    }
  }
  // HEADER CONTENT SECTION
  &__content {
    &-title {
      font-family: var(--f-rubik);
      font-size: var(--fs-hero);
      color: #fff;
      line-height: 4.4rem;
      letter-spacing: 0.3em;
      text-transform: uppercase;
    }
    &-sub-title {
      display: inline-block;
      color: var(--clr-yellow);
      font-family: var(--f-rakkas);
      letter-spacing: 0.25em;
      text-transform: uppercase;
      opacity: 85%;
      margin-bottom: 2rem;
    }
    &-description {
      color: #f4f4f4;
      font-family: Arial, Helvetica, sans-serif;
      max-width: 20rem;
      line-height: 1.9;
      font-weight: 300;
      margin-bottom: 3rem;
    }
    &-btn {
      font-family: var(--f-roboto);
      font-weight: var(--fw-bold);
    }
    // INFORMATION BOX
  }
  &__information {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 3rem;
    background-color: rgba(255, 255, 255, 0.9);
    border-top-right-radius: 3rem;
    border-bottom-left-radius: 3rem;
    padding: 1.5rem 1.75rem;
    gap: 2rem;
    text-align: center;
    max-width: 35rem;

    font-family: "Roboto";
    &-title {
      font-weight: lighter;
    }
    &-description {
      font-size: 1rem;
      font-weight: 900;
    }
    &-time {
      padding-right: 1rem;
      gap: 0.5rem;
    }
    &-location {
      padding-right: 1rem;
      gap: 0.5rem;
    }
    &-contact {
      gap: 0.5rem;
    }
    &-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--clr-purple);
      border-radius: 50%;
    }
  }
}
.header__icon {
  width: 16px;
  height: 16px;
  margin: 0.75rem;
  object-fit: cover;
}
